Shopify Supplier Invoice Data Extraction to Google Sheets.json
{
  "name": "Shopify Supplier Invoice Data Extraction to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_9195032366924715942"
          ]
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "9c2cdce6-720f-4c48-ba75-94618f804752",
      "name": "Receive Invoice Emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2112,
        1264
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "NI18t4NLqYn2Ushb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an invoice data extraction assistant for a Shopify store.\n\nYour task is to:\n1. Analyze the provided invoice text\n2. Extract all relevant invoice fields accurately\n3. Return the data in the structured JSON format defined by the output parser\n\nBe precise with:\n- Invoice numbers (extract exactly as shown)\n- Dates (use YYYY-MM-DD format)\n- Amounts (extract as numbers without currency symbols)\n- Supplier names (use the full legal name if available)\n- Line items (include description, quantity, unit price, and total for each)\n\nIf any field is not found in the invoice, use null for that field."
        }
      },
      "id": "ceac647d-18f2-4bda-8489-e5b3894c7966",
      "name": "Parse Invoice Fields",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2784,
        1264
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"invoiceNumber\": \"INV-001\",\n  \"supplierName\": \"ABC Supplies Ltd.\",\n  \"invoiceDate\": \"2025-01-01\",\n  \"dueDate\": \"2025-01-10\",\n  \"totalAmount\": 198,\n  \"currency\": \"USD\",\n  \"lineItems\": [\n    {\n      \"description\": \"Product A\",\n      \"quantity\": 2,\n      \"unitPrice\": 50,\n      \"amount\": 100\n    }\n  ],\n  \"taxAmount\": 18,\n  \"subtotal\": 180\n}\n"
      },
      "id": "e3e55241-24e9-4767-b1d6-3b00bbbd3776",
      "name": "Invoice Schema Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2928,
        1488
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.sheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.sheetName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output.invoice_number }}",
            "Supplier Name": "={{ $json.output.supplier_name }}",
            "Customer Name": "={{ $json.output.customer_name }}",
            "Invoice Date": "={{ $json.output.invoice_date }}",
            "Subtotal": "={{ $json.output.subtotal }}",
            "Tax Amount": "={{ $json.output.tax }}",
            "Total Amount": "={{ $json.output.total_amount }}"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Amount",
              "displayName": "Tax Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3dcae244-284b-464a-9653-95b6e4a29156",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        1264
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mtuGnVYY0Tj5I1m4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "51eb3ad5-3691-4bef-90c0-967aa8c38723",
      "name": "Extract Invoice Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2560,
        1264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sheetId",
              "value": "15tzlXQ_A9hvXonl_iOvHN4_QBMIwzKCYQgXGnGK_-pY",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sheetName",
              "value": "Supplier Invoices",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "500cc2b4-3b18-4a2c-8d26-82ca858930c0",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        1264
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2d3150b3-eb13-4a6c-956e-a657b3e55ddc",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2720,
        1488
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "jz2cxk9ylgUmksOG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Invoice Emails": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parse Invoice Fields",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse Invoice Fields": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data": {
      "main": [
        [
          {
            "node": "Parse Invoice Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Invoice Fields",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21834b7c-4db3-46c3-8e8c-7f9bd0749cb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e001e8735f359237722c4449cf8cf105cadcc894c6205ecd8c981a54d7d96855"
  },
  "id": "xovAiw5o7yJlXfjM",
  "tags": []
}
